gizaenv
Indexer/Data/abis
Indexer/Data/build
Indexer/Data/generated
Indexer/Data/new_USDC_USDC
Indexer/Data/src
Indexer/Data/tests
smart_contract/contracts/Lock.sol
smart_contract/test/Lock.js
smart_contract/ignition/modules/Lock.js
liquidity_manager_agent/agent/.env
frontend
.venv
liquidity_manager_agent/agent/agent_script.py
backend/node_modules
# liquidity_manager_agent/agent/action_agent.py
# liquidity_manager_agent/agent/addresses.py
# liquidity_manager_agent/agent/get_tokens.py
# liquidity_manager_agent/agent/lp_tools.py
# liquidity_manager_agent/agent/uni_helpers.py
