gizaenv
Indexer/Data/abis
Indexer/Data/build
Indexer/Data/generated
Indexer/Data/new_USDC_USDC
Indexer/Data/src
Indexer/Data/tests
smart_contract/contracts/Lock.sol
smart_contract/test/Lock.js
smart_contract/ignition/modules/Lock.js
liquidity_manager_agent/agent/.env
frontend
.venv